body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

.gauche{
    width: 200px;
    position: fixed;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    overflow-y: auto;
}

.gauche h2 {
    font-size: 18px;
    margin-top: 0;
}

.gauche a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 5px 0;
    font-size: 14px;
}

.gauche a:hover {
    color: #ffffff;
}

.content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    overflow-y: auto;
}

.content h1 {
    font-size: 50px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.project-item {
    cursor: pointer;
    transition: transform 0.3s;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item img {
    width: 50%;
    height: auto;
    display: block;
}